html {
    --black: #0d1321;
    --white: #f0ebd8;
    --off-white: #748cab;
    --button: #1d2d44;
    --button-border: #3e5c76;
    --border: 8px;
    --button-border-width: 3px;
    --title-color: #748cab;
}
body {
    background-color: var(--white);
    color: var(--white);
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    .page {
        padding-inline: 20px !important;
    }
}

/* Adding fade in animation */
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeno {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}
.page > * {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.page {

    /* Strething through the screen */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Setting */
    background-color: var(--black);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-inline: 20vw;
}

.next {
    
    /* Setting to default */
    text-decoration: none;
    color: var(--white);

    /* Making it button like */
    background-color: var(--button);
    /* background-image: linear-gradient(to bottom, var(--button), var(--button-border)); */
    max-width: 200px;
    border-radius: 50px;
    padding-inline: 20px;
    padding-block: 10px;
    border: var(--button-border-width) dotted var(--button-border);
    text-wrap: nowrap;
    margin-block: 20px;
}

/* Showing when clicked */
#page1:target {
    display: block;
}
#page2:target {
    display: flex;
}
#page3:target {
    display: flex;
}
#page4:target {
    display: flex;
}

/* PAGE 1 */
.dp {

    /* Positioning the image */
    position: fixed;
    left: 50%;
    bottom: 0;
    height: 90vh;
    transform: translateX(-50%);
    
    animation-name: fadeno;
}
#page1 {

    /* Changing the background color and display */
    background-color: var(--white);
    display: block;

    /* Changing the padding back to 0 */
    padding-inline: 0;
}
.name {

    /* Setting relative position for gradient */
    position: relative;

    /* Setting the size */
    width: 100%;
    text-align: center;
    font-size: 14em;
    line-height: 1em;

    /* Strecthing in Y axis */
    transform: scaleY(175%);

    /* Giving the black stroke */
    text-shadow: 
        var(--border) var(--border) 0 var(--black),
        var(--border) calc(-1*var(--border)) 0 var(--black),
        calc(-1*var(--border)) var(--border) 0 var(--black),
        calc(-1*var(--border)) calc(-1*var(--border)) 0 var(--black);

    /* Changing animation */
    animation-name: fadeno;
    animation-duration: 1.3s;
}
.grad {

    /* Stretching the div across the name */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Applying gradient */
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), var(--white));
    transform: translateY(30px);
}
#page1next {
    
    /* Aligning to center */
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);

    /* Changing animation */
    animation-name: fadeno;
    animation-duration: 2s;

}

/* Changin animation of text */

@keyframes fadeinX {
    from {
        opacity: 0;
        transform: translateX(10px);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.text {
    animation-name: fadeinX;
    animation-duration: 1s;
    color: var(--off-white);
}

.title {
    margin-block: 5px;
    color: var(--title-color);
}